*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

.main{
  display: flex;
  width: 100%;
  height: 100%;
}

.left{
  position: relative;
  width: 40%;
  height: 100%;
}

.text-center h1{
  font-size: 90px;
  font-weight: 900;
}

.text-center p{
  opacity: .6;
  font-size: 12px;
  line-height: 25px;
  margin: 20px 0 20px 0;
}
.text-center a{
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.6;
}


.left .text-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.lnav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
}

.lnavright a{
  margin-right: 20px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.lnavright i{
  color: royalblue;
}

.lnavright{
  display: flex;
  align-items: center;
}

.right{
  width: 60%;
  height: 100%;
  background-color: white;
}

.rtop{
  display: flex;
  width: 100%;
  height: 50%;
  background-color: royalblue;

}

.rbottom{
  width: 100%;
  height: 50%;
  background-image: url(https://images.unsplash.com/photo-1504204267155-aaad8e81290d?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

.rtopleft{
  width: 55%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1459411552884-841db9b3cc2a?q=80&w=2449&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

.rtopright{
  width: 45%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1643996322171-7a94b7acc9a7?q=80&w=2913&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  /* background-position: center ; */
}

@media (max-width: 500px){
  .main{
    flex-direction: column;
  }

  .main .left{
    width: 100%;
  }

  .main .right{
    width: 100%;
  }
}